*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Scroll fluide pour les ancres */
html {
    scroll-behavior: smooth;
}

/* Sélection de texte personnalisée */
::selection {
    background-color: var(--light);
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-sans-sc);
    font-size: var(--text-lg);
    line-height: 1.4;
    letter-spacing: -0.03rem;
    background-color: var(--light);
}

h1,
h2 {
    font-weight: 600;
    line-height: 1.1;
    font-size: var(--text-4xl);
    letter-spacing: -0.15rem;
    color: var(--darkBlue);
}

h3,
.h3 {
    font-size: var(--text-lg);
    color: var(--darkBlue);
    letter-spacing: -0.03rem;
}

main {
    margin: 0;
    padding: 0;
}
main a:hover {
    border-bottom-color: var(--darkBlue);
}

/* Enlève l'apparence par défaut des boutons, input, select */
button,
input,
select,
textarea {
    appearance: none;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

/* --- CLASSES UTILITAIRES --- */

/* Pour enlever l'apparence par défaut des listes */
.u-list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Pour rendre invisible mais laisser accessible */
.u-sr-only {
    position: absolute !important;
    inline-size: 1px;
    /* width logique */
    block-size: 1px;
    /* height logique */
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    /* évite le retour à la ligne */
    border: 0;

    /* Masquage moderne + fallback */
    clip-path: inset(50%);
    clip: rect(0 0 0 0);
}

.u-noscroll {
    overflow: hidden;
}

.u-highlight {
    color: var(--light);
}