.header__link {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    z-index: 6;
    display: block;
    background: transparent;
}

.header__menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 12;
}