.carousel {
    position: relative;
    width: 100%;
    background-color: var(--violetBlue);
    padding: 2rem 0;
    box-sizing: border-box;
}

.carousel__wrapper {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-left: -1px;
    margin-right: -1px;
    position: relative;
}

.carousel__controls {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin: 16px;
}

.carousel__button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 45%;
    right: 0
}

.carousel__button--prev {
    left: 0
}

.carousel__container {
    display: flex;
    gap: 16px;
    overflow: scroll;
    margin-left: -24px;
    margin-right: -24px;
    scroll-snap-type: x mandatory;
}

.carousel__item {
    flex: 1 0 100%;
    scroll-snap-align: center;
}

.carousel__item img {
    display: block;
}