.img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.img__scene {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}