img[data-full-img] {
    cursor: pointer;
}

#lightbox {
    border: 4px solid #0066cc;
    border-radius: 16px;
    padding: 20px;
    background-color: var(--blackBlue);
}

#lightbox[open] {
    animation: scaleIn 600ms;
}

@keyframes scaleIn {
    from {
        transform: scale(0.1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

dialog#lightbox::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    animation: fadeIn 3s;
}

#lightbox img {
    width: 100%;
    height: auto;
    display: block;
}

.img__programme {
    margin-top: 50px;
    border: var(--violetBlue) 2px solid;
    border-radius: 2%;
    width: 150px;
    height: auto;
    display: block;
    margin-right: 500px;
}