.h1 {
    margin-left: 10px;
}

.h2 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: var(--text-2xl);
    font-weight:200;
    letter-spacing: 0.03rem;
}

.txt {
    margin-top: 10px;
    margin-left: 10px;
}

.scene__item {
    margin-bottom: 30px;
    margin-top : 50px;
    margin-left: 10px;
}

.scene__link {
    color: var(--blackBlue);
    font-size: var(--text-4xl);
    font-weight: bold;
}